<h1>Share a News</h1>

<div>

<form [formGroup]="news">
  <p>
  Title: <textarea formControlName="title"></textarea>
</p>

  <p>
  Photo: <input type="file" #image required>
  </p>

  <p>
  Description: <textarea formControlName="description"></textarea>
  </p>


  <p>
      Tags: <input type="text" #tag>
    <button (click)="addTag(tag.value)"> + </button>
  </p>

  <p *ngFor="let oneTag of tagsList">
    <button (click)="deleteTag(oneTag)"> {{oneTag}} </button>
  </p>


  <button (click)="previousPage()"> Back </button>
  <button (click)="processNews()" [disabled]="news.invalid && fileEmpty()"> Post News </button>
</form>


</div>
